@import 'fonts';
@import 'variables';
@import 'mixins';

.content {
    color: $colour-lbem-5;
    height: calc(100% - $footer-height);
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;        
    }

    &::-webkit-scrollbar-track {
        background: $colour-lbem-2;
    }

    &::-webkit-scrollbar-thumb {
        background: $colour-lbem-3; 
    }

    section {
        padding: $padding-y $padding-x;
        height: calc(100vh - ($footer-height + 2 * $padding-y));
        scroll-snap-align: start;

        p {
            text-align: justify;
            text-justify: inter-word;
        }
    }
}

// backgrounds
$bg-alpha: 25;
@include bg(lbem-1, $colour-lbem-1, $bg-alpha);
@include bg(lbem-2, $colour-lbem-2, $bg-alpha);
@include bg(lbem-3, $colour-lbem-3, $bg-alpha);
@include bg(lbem-4, $colour-lbem-4, $bg-alpha);
@include bg(lbem-5, $colour-lbem-5, $bg-alpha);

// colours
@include clr(lbem-1, $colour-lbem-1);
@include clr(lbem-2, $colour-lbem-2);
@include clr(lbem-3, $colour-lbem-3);
@include clr(lbem-4, $colour-lbem-4);
@include clr(lbem-5, $colour-lbem-5);