@import 'fonts';
@import 'variables';
@import 'mixins';

.content {
    color: $color-lbem-5;
    height: calc(100% - ($header-height + $footer-height));
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 5px;        
    }

    &::-webkit-scrollbar-track {
        background: $color-lbem-2;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-lbem-3; 
    }

    section {
        padding: $padding-y $padding-x;
        height: calc(100vh - ($header-height + $footer-height + 2 * $padding-y));
        scroll-snap-align: start;
        overflow-x: auto;

        p {
            text-align: justify;
            text-justify: inter-word;
        }
    }
}

h1 {
    color: $color-lbem-3;
    position: relative;
    @include heading($color-lbem-2);
}

// backgrounds
@include bg(lbem-1, $color-lbem-1, $bg-alpha);
@include bg(lbem-2, $color-lbem-2, $bg-alpha);
@include bg(lbem-3, $color-lbem-3, $bg-alpha);
@include bg(lbem-4, $color-lbem-4, $bg-alpha);
@include bg(lbem-5, $color-lbem-5, $bg-alpha);

// colors
@include clr(lbem-1, $color-lbem-1);
@include clr(lbem-2, $color-lbem-2);
@include clr(lbem-3, $color-lbem-3);
@include clr(lbem-4, $color-lbem-4);
@include clr(lbem-5, $color-lbem-5);