@import 'fonts';
@import 'variables';

.header {
    background-color: $color-lbem-1;
    border-top: 5px solid $color-lbem-1d;
    height: 50px;
    width: 100%;
    top: 0;
    overflow: visible;
    display: flex;
    justify-content: center;

    svg.logo {
        margin-top: 19px;
        height: 50px;
        z-index: 1;

        g {
            stroke: none;

            path {
                &:hover {
                    cursor: pointer;
                }

                &.m {
                    fill: $color-lbem-2;

                    &:hover {
                        fill: $color-lbem-2d;
                    }
                }

                &.g {
                    fill: $color-lbem-3;

                    &:hover {
                        fill: $color-lbem-3d;
                    }
                }
            }
        }
    }
}