@mixin circle-animation($size1, $size2, $color, $duration) {
    @keyframes animate-circle {
        0% {
            background: transparent;
            border: 3px solid $color;
            width: $size1;
            height: $size1;
        }

        100% {
            background: $color;
            border: 0px solid $color;
            width: $size2;
            height: $size2;
        }
    }

    @-webkit-keyframes animate-circle {
        0% {
            background: transparent;
            border: 3px solid $color;
            width: $size1;
            height: $size1;
        }

        100% {
            background: $color;
            border: 0px solid $color;
            width: $size2;
            height: $size2;
        }
    }

    @-moz-keyframes animate-circle {
        0% {
            background: transparent;
            border: 3px solid $color;
            width: $size1;
            height: $size1;
        }

        100% {
            background: $color;
            border: 0px solid $color;
            width: $size2;
            height: $size2;
        }
    }

    -webkit-animation: animate-circle $duration linear;
    -moz-animation: animate-circle $duration linear;
    animation: animate-circle $duration linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@mixin ring-animation($size1, $size2, $color, $duration) {
    @keyframes animate-ring {
        0% {
            background: $color;
            border: 0px solid $color;
            width: $size1;
            height: $size1;
        }

        100% {
            background: transparent;
            border: 3px solid $color;
            width: $size2;
            height: $size2;
        }
    }

    @-webkit-keyframes animate-ring {
        0% {
            background: $color;
            border: 0px solid $color;
            width: $size1;
            height: $size1;
        }

        100% {
            background: transparent;
            border: 3px solid $color;
            width: $size2;
            height: $size2;
        }
    }

    @-moz-keyframes animate-ring {
        0% {
            background: $color;
            border: 0px solid $color;
            width: $size1;
            height: $size1;
        }

        100% {
            background: transparent;
            border: 3px solid $color;
            width: $size2;
            height: $size2;
        }
    }

    -webkit-animation: animate-ring $duration linear;
    -moz-animation: animate-ring $duration linear;
    animation: animate-ring $duration linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@mixin love-animation($color) {
    @keyframes love {
        to {
            transform: scale(1.2);
            color: $color;
        }
    }

    @-webkit-keyframes love {
        to {
            -webkit-transform: scale(1.2);
            color: $color;
        }
    }

    @-moz-keyframes love {
        to {
            -moz-transform: scale(1.2);
            color: $color;
        }
    }

    -webkit-animation: love .5s infinite linear alternate-reverse;
    -moz-animation: love .5s infinite linear alternate-reverse;
    animation: love .5s infinite linear alternate-reverse;
}

@mixin bg($name, $color, $alpha) {
    .bg-#{$name} {
        background: rgba($color, calc($alpha/100));
        margin-left: -$padding-x;
        padding: $padding-y $padding-x;
        width: calc(100% + calc(2 * $padding-x));
    }
}

@mixin clr($name, $color) {
    .clr-#{$name} {
        color: $color;
    }
}

@mixin heading($color) {
    &:after {
        content: "";
        position: absolute;
        left: -1vmin;
        top: 50%;
        transform: translateY(-50%) rotate(-7deg);
        width: 18vmin;
        height: 120%;
        background: $color;
        z-index: -1;
    }
}