@import 'variables';
@import 'mixins';

.mouse {  
    .pointer1 {
        z-index: 9999;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: $padding-x;
        height: $padding-x;
        background: transparent;
        border: $padding-y solid $color-lbem-2;
        border-radius: 50%;
        pointer-events: none;
        box-sizing: border-box;
        transition: 0.1s;
        -webkit-transition: 0.1s;
        -moz-transition: 0.1s;
    }

    .circle {
        @include circle-animation(1.5rem, calc(1.5rem - 6px), $color-lbem-2, 0.5s);
    }

    .ring {
        @include ring-animation(calc(1.5rem - 6px), 1.5rem, $color-lbem-2, 0.25s);
    }

    .pointer2 {
        z-index: 9998;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $color-lbem-3;
        border: 2px solid $color-lbem-3;
        border-radius: 50%;
        pointer-events: none;
        box-sizing: border-box;
        transition: 0.15s;
        -webkit-transition: 0.15s;
        -moz-transition: 0.15s;
    }
}