@import 'variables';

.tags {
    width: calc(100vw - (2 * $padding-x));
    margin-right: calc(2 * $padding-x);
    text-align: center;
}

.tag {
    border-radius: 4px;
    display: inline-block;
    font-family: $font-family-poppins;
    font-size: 14px;
    font-weight: 600;
    padding: $padding-y calc(2 * $padding-y);
    margin: $padding-y calc($padding-y / 2);
    text-transform: lowercase;
    background-color: $color-lbem-4;
    color: $color-lbem-1;
    border: 2px solid transparent;
    transition: 0.3s ease;
    opacity: calc($bg-alpha / 100);

    &:not(:hover) > i {
        animation: none;
    }

    &:hover {
        background-color: $color-lbem-1;
        color: $color-lbem-4;
        border-color: $color-lbem-4;
        opacity: 1;
    }

    i {
        font-size: 16px;
        margin-right: 2px;
        vertical-align: middle;
    }

    &.tag-gender {
        $color-gender: #01a6ea;
        background-color: $color-gender;
        color: white;

        &:hover {
            background-color: white;
            color: $color-gender;
            border-color: $color-gender;
        }
    }

    &.tag-netherlands {
        $color-netherlands: #e17000;
        background-color: $color-netherlands;
        color: white;

        &:hover {
            background-color: white;
            color: $color-netherlands;
            border-color: $color-netherlands;
        }
    }

    &.tag-car {
        i::before {
            content: "\f1b9";
        }

        &:hover {
            i::before {
                content: "\f5e4";
            }
        }
    }

    &.tag-coding {
        i::before {
            content: "\f121";
        }

        &:hover {
            i::before {
                content: "\f246";
            }
        }
    }

    &.tag-dataviz {
        i::before {
            content: "\f201";
        }

        &:hover {
            i::before {
                content: "\f1fe";
            }
        }
    }

    &.tag-running {
        $color-strava: #fc5200;
        background-color: $color-strava;
        color: white;

        i::before {
            content: "\f554";
        }

        &:hover {            
            background-color: white;
            color: $color-strava;
            border-color: $color-strava;

            i::before {
                content: "\f70c";
            }
        }
    }

    &.tag-soccer {
        $color-pl: #37003c;
        background-color: $color-pl;
        color: white;

        &:hover {
            background-color: white;
            color: $color-pl;
            border-color: $color-pl;
        }
    }

    &.tag-travel {
        $color-1: #007847;
        $color-2: #ffb915;        
        background-color: $color-1;
        color: $color-2;

        i::before {
            content: "\f5b0";
        }

        &:hover {            
            background-color: $color-2;
            color: $color-1;
            border-color: $color-1;

            i::before {
                content: "\f072";
            }
        }
    }

    &.tag-safari {
        $color-1: #545a27;
        $color-2: #eaeddc;
        background-color: $color-1;
        color: $color-2;

        i::before {
            content: "\f1e5";
        }

        &:hover {            
            background-color: $color-2;
            color: $color-1;
            border-color: $color-1;

            i::before {
                content: "\f6ed";
            }
        }
    }
}