// COLOURS
// https://www.colourlovers.com/palette/4922295/%CE%9BB%CE%A3M
$colour-lbem-1: #fcf8d1;
$colour-lbem-1d: #e2debb;
$colour-lbem-2: #90ebd8;
$colour-lbem-2d: #81d3c2;
$colour-lbem-3: #e88888;
$colour-lbem-3d: #d07a7a;
$colour-lbem-4: #0b5576;
$colour-lbem-4d: #094c6a;
$colour-lbem-5: #2c0847;
$colour-lbem-5d: #27073f;

$bg-alpha: 25;

$header-height: 55px;
$footer-height: 60px;
$padding-x: 25px;
$padding-y: 5px;