@import 'fonts';
@import 'variables';
@import "mouse";
@import 'header';
@import 'content';
@import 'footer';

html * {
    cursor: none;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(calc(100vh - ($footer-height + 2 * $padding-y)));
    scroll-snap-type: y mandatory;
}

html, body {
    height: 100%;
}

body {
    color: $colour-lbem-5;
    font-family: $font-family-sourcesans;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: $font-family-ubuntu;
}

::-moz-selection {
    color: $colour-lbem-3;
    background: $colour-lbem-2;
}

::selection {
    color: $colour-lbem-3;
    background: $colour-lbem-2;
}