@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+3:wght@400;500;600;700;800;900&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+3:wght@400;500;600;700;800;900&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+3:wght@400;500;600;700;800;900&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+3:wght@400;500;600;700;800;900&family=Ubuntu:wght@400;500;700&display=swap");
.mouse .pointer1 {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  background: transparent;
  border: 5px solid #90ebd8;
  border-radius: 50%;
  pointer-events: none;
  box-sizing: border-box;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}
.mouse .circle {
  animation: animate-circle 0.5s linear;
  animation-fill-mode: forwards;
}
@keyframes animate-circle {
  0% {
    background: transparent;
    border: 3px solid #90ebd8;
    width: 1.5rem;
    height: 1.5rem;
  }
  100% {
    background: #90ebd8;
    border: 0px solid #90ebd8;
    width: calc(1.5rem - 6px);
    height: calc(1.5rem - 6px);
  }
}
.mouse .ring {
  animation: animate-ring 0.25s linear;
  animation-fill-mode: forwards;
}
@keyframes animate-ring {
  0% {
    background: #90ebd8;
    border: 0px solid #90ebd8;
    width: calc(1.5rem - 6px);
    height: calc(1.5rem - 6px);
  }
  100% {
    background: transparent;
    border: 3px solid #90ebd8;
    width: 1.5rem;
    height: 1.5rem;
  }
}
.mouse .pointer2 {
  z-index: 9998;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e88888;
  border: 2px solid #e88888;
  border-radius: 50%;
  pointer-events: none;
  box-sizing: border-box;
  transition: 0.15s;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
}

#scroll-to-top {
  z-index: 1;
  position: fixed;
  bottom: 85px;
  right: 25px;
  width: 25px;
  height: 25px;
  display: none;
  text-decoration: none;
  border-radius: 50%;
  background-color: #90ebd8;
}
#scroll-to-top:hover {
  background-color: #81d3c2;
}
#scroll-to-top i {
  color: #e88888;
  margin: 0;
  position: relative;
  left: 6px;
  top: 5px;
}
#scroll-to-top i:hover {
  top: 0;
}
#scroll-to-top .transition {
  transition: all 1s ease;
}

.header {
  background-color: #fcf8d1;
  border-top: 5px solid #e2debb;
  height: 50px;
  width: 100%;
  top: 0;
  overflow: visible;
  display: flex;
  justify-content: center;
}
.header svg.logo {
  margin-top: 19px;
  height: 50px;
}
.header svg.logo g {
  stroke: none;
}
.header svg.logo g path:hover {
  cursor: pointer;
}
.header svg.logo g path.m {
  fill: #90ebd8;
}
.header svg.logo g path.m:hover {
  fill: #81d3c2;
}
.header svg.logo g path.g {
  fill: #e88888;
}
.header svg.logo g path.g:hover {
  fill: #d07a7a;
}

.content {
  color: #2c0847;
  height: calc(100% - 115px);
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.content::-webkit-scrollbar {
  width: 5px;
}
.content::-webkit-scrollbar-track {
  background: #90ebd8;
}
.content::-webkit-scrollbar-thumb {
  background: #e88888;
}
.content section {
  padding: 5px 25px;
  height: calc(100vh - 125px);
  scroll-snap-align: start;
  overflow-x: auto;
}
.content section p {
  text-align: justify;
  text-justify: inter-word;
}

h1 {
  color: #e88888;
  position: relative;
}
h1:after {
  content: "";
  position: absolute;
  left: -1vmin;
  top: 50%;
  transform: translateY(-50%) rotate(-9deg);
  width: 18vmin;
  height: 120%;
  background: #90ebd8;
  z-index: -1;
}

.bg-lbem-1 {
  background: rgba(252, 248, 209, 0.25);
  margin-left: -25px;
  padding: 5px 25px;
  width: calc(100% + 50px);
}

.bg-lbem-2 {
  background: rgba(144, 235, 216, 0.25);
  margin-left: -25px;
  padding: 5px 25px;
  width: calc(100% + 50px);
}

.bg-lbem-3 {
  background: rgba(232, 136, 136, 0.25);
  margin-left: -25px;
  padding: 5px 25px;
  width: calc(100% + 50px);
}

.bg-lbem-4 {
  background: rgba(11, 85, 118, 0.25);
  margin-left: -25px;
  padding: 5px 25px;
  width: calc(100% + 50px);
}

.bg-lbem-5 {
  background: rgba(44, 8, 71, 0.25);
  margin-left: -25px;
  padding: 5px 25px;
  width: calc(100% + 50px);
}

.clr-lbem-1 {
  color: #fcf8d1;
}

.clr-lbem-2 {
  color: #90ebd8;
}

.clr-lbem-3 {
  color: #e88888;
}

.clr-lbem-4 {
  color: #0b5576;
}

.clr-lbem-5 {
  color: #2c0847;
}

.tag {
  border-radius: 4px;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  margin: 5px 2.5px;
  text-transform: lowercase;
  background-color: #0b5576;
  color: #fcf8d1;
  border: 2px solid transparent;
  transition: 0.3s ease;
  opacity: 0.75;
}
.tag:hover {
  background-color: #fcf8d1;
  color: #0b5576;
  border-color: #0b5576;
  opacity: 1;
}
.tag i {
  font-size: 16px;
  margin-right: 2px;
  vertical-align: middle;
}
.tag.tag-gender {
  background-color: #01a6ea;
  color: white;
}
.tag.tag-gender:hover {
  background-color: white;
  color: #01a6ea;
  border-color: #01a6ea;
}
.tag.tag-netherlands {
  background-color: #e17000;
  color: white;
}
.tag.tag-netherlands:hover {
  background-color: white;
  color: #e17000;
  border-color: #e17000;
}
.tag.tag-email {
  background-color: #e88888;
  color: #2c0847;
}
.tag.tag-email:hover {
  background-color: #2c0847;
  color: #e88888;
  border-color: #e88888;
}
.tag.tag-email::after {
  content: "email";
}
.tag.tag-email:hover::after {
  content: "marijngrootjans@gmail.com";
}

.footer {
  background-color: #fcf8d1;
  border-bottom: 5px solid #e2debb;
  border-top: 10px solid #81d3c2;
  outline: 5px solid #90ebd8;
  outline-offset: 0px;
  position: fixed;
  height: 30px;
  width: 100%;
  bottom: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p {
  color: #094c6a;
  font-size: 14px;
  font-weight: 400;
}
.footer p > span.love {
  color: #e88888;
  display: inline-block;
  position: relative;
  transform: scale(0.9);
  animation: love 0.5s infinite linear alternate-reverse;
}
@keyframes love {
  to {
    transform: scale(1.2);
    color: #d07a7a;
  }
}

html * {
  cursor: none;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(calc(100vh - 125px));
  scroll-snap-type: y mandatory;
}

html, body {
  height: 100%;
}

body {
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: "Ubuntu", sans-serif;
}

a, a:visited {
  text-decoration: none;
}

i {
  align-self: center;
  font-size: 14px;
}

::-moz-selection {
  color: #e88888;
  background: #90ebd8;
}

::selection {
  color: #e88888;
  background: #90ebd8;
}/*# sourceMappingURL=resume.css.map */